@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Blond.ttf);
  font-weight: 300;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Normal.ttf);
  font-weight: normal;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: FaktPro;
  src: url(/assets/fonts/FaktPro-Bold.ttf);
  font-weight: bold;
}

body, html {
  margin: 0;
  min-height: 100%;
  color: #4b515e;
}

body {
  background: #f5f6fb;
}

body, input, select {
  font-family: "FaktPro", "museo-sans","Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-weight: 600;
  /* text-transform: uppercase; */
  color: #24b10e;
}

div::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-radius: 4px;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}