.wrap {
    position: relative;
    max-width: 1162px;
    padding: 90px 20px 0;
}

.pageInner {
    overflow: visible!important;
    box-shadow: 0 0 0 1px #f5f6fb;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
    background: #f5f6fb;
}

.head {
    height: 85px;
    border-bottom: 1px solid #e7e9ed;
    display: flex;
    align-items: center;
    background: white;
}

.head-title {
    text-transform: capitalize;
    font-size: 32px;
    /*line-height: 36px;*/
    letter-spacing: -0.01em;
    overflow: hidden;
    font-weight: 600;
    color: #0099CC;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 167px;
    padding-left: 32px;
}

.title-text {
    flex-grow: 0;
    flex-shrink: 0;
    color: #646973;
    font-size: 24px;
    line-height: 34px;
    margin: 30px 0 5px 15px;
}

.item {
    background: white;
    height: 191px;
    width: 255px;
    box-sizing: border-box;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px #e3e6f4;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    margin: 15px;
    padding: 0 12px;
    overflow: hidden;
    display: block;
}

.text {
    font-weight: 600;
    color: #636872;
    font-size: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0;
    align-items: center;
}

.number {
    margin-top: 45px;
    font-size: 36px;
    font-weight: 600;
    color:  #24b10e;
    display: flex;
    justify-content: center;
}

.index {
    display: inline-block;
    margin-left: 6px;
}

.chart {
    margin-top: 18px;
    display: flex;
}

.history-config {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
}

.history-config-text {
    align-self: center;
}

.history-grow {
    font-size: 16px;
    font-weight: 500;
    color: #24b10e;
    margin-right: 10px;
    margin-left: 2px;
    align-self: center;
}

.history-grow[data-decline] {
    color: red;
}

.history-arrow {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 11px 8px;
    border-color: transparent transparent #24b10e transparent;
    align-self: center;
}

.history-arrow[data-decline] {
    transform: rotate(180deg);
    border-color: transparent transparent red transparent;
}

.budget-left-to-plan-ok {
    background: url(../../assets/success_bltp.svg) center center no-repeat;
    background-size: contain;
    height: 64px;
    width:64px;
}

.center {
    display: flex;
    justify-content: center;
}

.sad-icon {
    background: url(../../assets/sad-smiley.svg) center center no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    margin-top: 15px;
}

.no-metrics {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.table-body :global(tr):nth-child(even) {
    background: #F1F4F8;
}

.table-body :global(tr):nth-child(odd) {
    background: white;
}

.table :global(td):first-child {
    padding-left: 20px;
}

.head-row {
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    color: #354052;
}

.table-row {
    height: 30px;
    font-size: 16px;
    color: #354052;
}

.channel-table {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #3aa1ee;
}

.upper-panel {
    width: 1096px;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dfe2e5;
    margin: 12px 15px 5px;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
    padding: 0 7px;
}

.metric-edit {
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
    align-self: center;
    margin-left: 16px;
    cursor: pointer;
}

.check-mark {
    background: url(../../assets/check-mark-clean.svg) center center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
}