.item {
    background: white;
    height: 191px;
    width: 255px;
    box-sizing: border-box;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px #e3e6f4;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    margin: 15px;
    padding: 0 12px;
    overflow: hidden;
    display: block;
    position: relative;
}

.text {
    font-weight: 600;
    color: #636872;
    font-size: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0;
    align-items: center;
    text-transform: capitalize;
}

.number {
    margin-top: 35px;
    font-size: 36px;
    font-weight: 600;
    color:  #354052;
    display: flex;
    justify-content: center;
}

.col-center {
    max-width: 600px;
    margin: 0 auto;
    flex-grow: 1;
}

.context{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: pre;
    font-size: 16px;
    font-weight: 500;
}

.context-stat{
    display: flex;
    justify-content: center
}

.context-stat[data-positive='positive']{
    color: #00D305;
}

.context-stat[data-positive='not-positive']{
    color: red;
}

.arrow[data-arrow-type='decline']{
    transform: rotate(180deg);
    border-color: transparent transparent red transparent;
}

.arrow{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    align-self: center;
    margin: 2px 2px 0 0;
}

.arrow[data-arrow-type='incline']{
    border-color: transparent transparent #24b10e transparent;
}

.arrow[data-arrow-type='decline']{
    transform: rotate(180deg);
    border-color: transparent transparent red transparent;
}