.inner {
    padding: 0 35px;
}

.center {
    justify-content: center;
    display: flex;
}

.title {
    composes: center;
    font-size: 12px;
    font-weight: bold;
    color: #4b515e;
    margin-bottom: 20px;
}

.current {
    composes: center;
    font-size: 22px;
    font-weight: bold;
    color: #9b9b9b;
    margin-top: -45px;
}

.target {
    font-size: 12px;
    color: #9b9b9b;
    position: relative;
    top: 100px;
    left: 170px;
}

.half-circle {
    height: 89px;
    width: 178px;
    border-radius: 90px 90px 0 0;
    border: 3px solid #e2e7ee;
    border-bottom-width: 0;
}

.half-circle-fill {
    border-radius: 90px 90px 0 0;
    border: solid 12px;
    border-bottom-width: 0;
    position: absolute;
    margin-left: -2px;
    margin-top: -11px;
    height: 90px;
    width: 160px;
}

.text-bottom {
    composes: center;
    font-size: 12px;
    font-weight: 500;
    color: #4b515e;
    margin-top: 9px;
}

.success-text {
    font-weight: bold;
    color: #33cc33;
}

.fail-text {
    font-weight: bold;
    color: #d80027;
}

.time-left {
    composes: center;
    font-size: 12px;
    color: #4b515e;
    font-weight: 500;
    margin-top: 7px;
    font-style: italic;
}

.objective-icon {
    width: 15px;
    height: 15px;
    margin-top: 29px;
}

.objective-icon[data-active="success"] {
    background: url(../../assets/success_bltp.svg) center center no-repeat;
    background-size: contain;
}

.objective-icon[data-active="fail"] {
    background: url(../../assets/passed-objective.svg) center center no-repeat;
    background-size: contain;
}