.inner {
    padding: 25px;
    display: inline-block;
}

.center {
    justify-content: center;
    display: flex;
}

.title {
    composes: center;
    font-size: 12px;
    font-weight: bold;
    color: #4b515e;
    margin-bottom: 20px;
}

.current {
    font-size: 22px;
    font-weight: bold;
    fill: #9b9b9b;
}

.target {
    font-size: 12px;
    fill: #9b9b9b;
}

.text-bottom {
    composes: center;
    font-size: 12px;
    font-weight: 500;
    color: #4b515e;
    margin-top: 9px;
}

.success-text {
    font-weight: bold;
    color: #33cc33;
}

.fail-text {
    font-weight: bold;
    color: #d80027;
}

.time-left {
    composes: center;
    font-size: 12px;
    color: #4b515e;
    font-weight: 500;
    margin-top: 7px;
    font-style: italic;
}

.objective-icon {
    width: 15px;
    height: 15px;
}

.objective-icon[data-active="success"] {
    background: url(../../assets/success_bltp.svg) center center no-repeat;
    background-size: contain;
}

.objective-icon[data-active="fail"] {
    background: url(../../assets/passed-objective.svg) center center no-repeat;
    background-size: contain;
}

.circle-background {
    fill: none;
    stroke: #e2e7ee;
}

.circle-progress {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}