.center {
    display: flex;
    justify-content: center;
}

.picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 20px 0 10px;
}

.title {
    composes: center;
    font-size: 22px;
    font-weight: bold;
    color: #354052;
}

.sub-title {
    margin-top: 5px;
    composes: center;
    font-size: 22px;
    color: #354052;
}

.text {
    margin-top: 5px;
    composes: center;
    font-size: 14px;
    color: #354052;
    white-space: pre;
    text-align: center;
}