.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles {
    color: #222a41;
    margin-bottom: 25px;
}

.title {
    composes: titles;
    margin-top: 40px;
    font-size: 36px;
    font-weight: 600
}

.sub-title {
    composes: titles;
    font-size: 22px;
    font-weight: normal;
}

.login-wrapper{
    width: 400px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(227, 230, 244, 0.5);
    border: solid 1px #e3e6f4;
    background-color: #ffffff;
    padding: 0 75px 35px 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.checkbox-wrapper {
    display: flex;
    margin-top: 35px;
}

.checkbox {

}

.checkbox-label {
    font-size: 16px;
    font-weight: normal;
    margin-left: 15px;
}

.input {
    height: 38px;
    border-radius: 8px;
    border: solid 3px #e3e6f4;
    font-size: 14px;
    font-weight: normal;
    color: #4b515e;
    padding-left: 15px;
}

.input-label {
    color: #4b515e;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 14px;
}

.input-field {
    margin-top: 30px;
    display: grid;
    text-align: left;
}