.inner {
    padding: 0 30px;
}

.box {
    cursor: pointer;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    border: solid 2px #dfdfdf;
}

.salesforce {
    composes: box;
    background: url(../../assets/salesforce.png) center center no-repeat;
    background-size: contain;
}

.hubspot {
    composes: box;
    background: url(../../assets/hubspot.png) center center no-repeat;
    background-size: contain;
}

.stripe {
    composes: box;
    background: url(../../assets/stripe.png) center center no-repeat;
    background-size: contain;
}

.google-sheets {
    composes: box;
    background: url(../../assets/google-sheets.png) center center no-repeat;
    background-size: contain;
}

.title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.row {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}