.frame {
    z-index: 2;
    display: block;
    bottom: 75px;
    position: fixed;
    right: 25px;
    background: white;
    height: 191px;
    width: 255px;
    box-sizing: border-box;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px #f8f8f8;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-shadow: -2px 1px 12px 1px #e0e0e0;
    margin: 15px;
    padding: 0 12px;
}

.top {
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    margin-top: 10px;
}

.top-inner {
    display: block;
}

.title {
    font-weight: 600;
    color: #bbc2c5;
    font-size: 20px;
}

.icon {
    background: url(/assets/hubspot.png) center center no-repeat;
    background-size: contain;
    height: 59px;
    margin-top: -14px;
}

.bottom {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.gif {
    background: url(/assets/giphy-downsized.gif) center center no-repeat;
    background-size: contain;
    width: 76px;
    height: 76px;
}