.board {
    padding: 50px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    position: relative;
    background-color: #f2f2f2;
}

.desk, .desk-placeholder, .desk-placeholder:hover {
    width: 280px;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-height: 135px;
    background-color: #fff;
    box-shadow: -0.7px 3px 1px 1px rgba(0,0,0,0.05);
    border-radius: 3px;
    padding-bottom: 20px;
    margin-right: 30px;
    vertical-align: top;
}

.desk-head {
    font-size: 20px;
    padding: 20px 9% 12px;
}

.desk-name {
    font-weight: bold;
    white-space: normal;
    width: 100%;

    display: flex;
    align-items: center;
}

.add-button {
    width: 100%;
    margin: auto auto 0;
    text-align: center;
    background: transparent;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 16px;
    cursor: pointer;
}

.add-button:hover {
    opacity: 0.8;
}

.o-sign {
    border: 2px solid #bbb;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3px;
}