.frame {
    min-height: 110px;
    border-radius: 5px;
    border: solid 1px #c3c5d2;
    margin-top: 20px;
}

.content {
    padding: 14px 18px 0;
}

.initials {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #f5a623;
    border: solid 1px #a7a7a7;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    color: white;
    justify-content: center;
    box-sizing: border-box;
    line-height: 16px;
}

.name {
    display: inline-flex;
    font-size: 14px;
}

.comment-text {
    margin-top: 5px;
    font-size: 16px;
    white-space: pre-line;
}

.bottom {
    display: flex;
    justify-content: flex-end;
}

.line {
    height: 2px;
    background-color: rgba(150, 150, 150, 0.5);
    width: 100%;
    margin: 28px 18px 0 18px;
}

.time {
    font-size: 12px;
    margin: 0 18px 3px;
}