.table {
    width: 100%;
}

.head-row {
    height: 33px;
    font-size: 24px;
    font-weight: 500;
    color: #222a41;
}

.table-row {
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #222a41;
}