@import "../global/mixins.css";

.icon {
    background-size: contain;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 15px;
    min-height: 15px;
    margin-left: 15px;
}

.channel-icon {
    composes: icon;
    align-self: center;
    background-color: white;
}

@mixin icon-nodpi status:On Hold, /assets/on-hold;
@mixin icon-nodpi status:In Progress, /assets/in-progress;

.status-icon {
    composes: icon;
}

.metric-edit {
    font-size: 12px;
    font-weight: 500;
    color: white;
    align-self: center;
    margin-left: 16px;
    cursor: pointer;
}