.row {
    height: 38px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #f2f2f2;
    font-weight: 600;
}

.head-row {
    composes: row;
    font-size: 16px;
    color: #b2bbd5;
}

.table-row {
    composes: row;
    font-size: 14px;
    color: #465060;
}