.wrap {
    padding: 15px;
    border: 1px #e3e6f4;
    border-radius: 2px;
    overflow: auto;
}

.table:global(.ReactTable) {
    width: 100%;
    border: 0;
}

.table * {
    outline: none!important;
}

.foot {
    box-shadow: none!important;
}

.headRow {
    min-height: 60px;
    border-radius: 2px;
    background-color: #65b7f3;
    background-clip: padding-box;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.tableRow {
    height: 60px;
    border-radius: 2px;
    background-color: #ffffff;
    background-clip: padding-box;
    border-top: 5px solid transparent;
    font-size: 14px;
    color: #354052;
}

.footRow {
    height: 60px;
    border-radius: 2px;
    border-top: 5px solid transparent;
    font-size: 14px;
    background-color: #65dc8a;
    background-clip: padding-box;
    color: #354052;
    font-weight: 600;
}

.footRow .cellContent {
    background-color: #65dc8a;
}

.cellItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    max-width: 300px;
}

.cell {
    border: 0!important;
    background-color: transparent!important;
    padding: 0!important;
}

.cellContent {
    display: flex;
    height: 100%;
    padding: 5px 10px;
    justify-content: flex-start;
    align-items: center;
    white-space: normal;
    background-color: white;
}

.headCellContent {
    composes: cellContent;
    background-color: #65b7f3;
    text-align: left;
}