.head {
    height: 90px;
    border-bottom: 2px solid #e7e9ed;
    display: flex;
    align-items: center;
    background: #fafbfd;
    position: fixed;
    top: 70px;
    width: calc(100% - 240px);
    z-index: 9;
}
.wrapper{
    display: inline-table;
}

@media (max-width: 1440px) {
    .head {
        width: calc(100% - 88px);
    }
}

.head-title {
    text-transform: capitalize;
    font-size: 32px;
    /*line-height: 36px;*/
    letter-spacing: -0.01em;
    overflow: hidden;
    font-weight: 500;
    color: #0099CC;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 32px;
}

.head-tabs {
    margin-left: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    display: flex;
}

.head-plan {
    height: 100%;
    /** padding: 0 32px 0 30px;
     margin: 0 5px;**/
    margin-left: auto;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    white-space: nowrap;
    margin-right: 30px;
}

.head-tab {
    height: 100%;
    padding: 0 16px 0 15px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #354052;
    text-decoration: none;
}

.head-tab:hover {
    background-color: #f2f9fc;
}

.head-tab-selected {
    composes: head-tab;
}

.head-tab-selected::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #1889dd;
}

.wrap {
    padding-top: 90px;
}

.pageInner {
    overflow: visible!important;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
    background: #f5f6fb;
}

.title {
    height: 60px;
    display: flex;
    align-items: flex-end;
    padding: 0 31px;
}

.title-main {
    display: flex;
    align-items: flex-end;
}

.title-text {
    flex-grow: 0;
    flex-shrink: 0;
    color: #646973;
    font-size: 20px;
    line-height: 34px;
    white-space: pre;
}

.title-price {
    color: #273142;
    font-size: 26px;
    font-weight: 600;
    padding-left: 41px;
    margin-right: auto;

    background: url(../../assets/plan_icons/arrow.svg) 12px 60% no-repeat;
    background-size: 17px auto;
}

.title-buttons {
    /*margin-left: auto;*/
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.inner-box {
    margin: 31px 0;
    /*padding: 0 31px;*/
    /*min-height: 300px;*/
}

@media (max-width: 830px) {
    .title {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .title-main {
        margin: 20px 0;
        display: block;
    }

    .title-text,
    .title-price {
        display: inline;
    }
}

@media (max-width: 1130px) {
    .head {
        flex-direction: column;
        height: auto;
    }

    .head-tabs {
        margin: 0;
    }

    .head-title {
        margin-top: 20px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 780px) {
    .head-tabs {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 560px) {
    .head-tabs {
        height: 56px;
    }

    .head-title {
        margin: 10px 0;
    }
}

.error {
    padding-right: 15px;
    color: red;
    font-size: 13px;
    text-align: left;
}

.server-down {
    color: red;
    font-size: 20px;
}

.budget-left-to-plan-ok {
    background: url(../../assets/success_bltp.svg) center center no-repeat;
    background-size: contain;
    height: 24px;
    width:24px;
}

.plan-circle {
    background: #FDA329;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 117px;
    top: -10px;
    position: absolute;
    border: solid 2px white;
}

.title-toggle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.dropmenu {
    width: 100px;
    left: 15px !important;
    padding: 4px 0 !important;
    min-height: inherit !important;
    top: 45px !important;
    text-transform: capitalize;
}

.dropmenu-edit {
    width: 110px;
    composes: dropmenu;
}

.button-triangle {
    border: .25rem solid transparent;
    border-top-color: currentColor;
    color: #2ea1f8;
    position: relative;
    top: 3px;
    left: 13px;
    height: fit-content;
}

.dropmenu-item {
    padding: 0 13px;
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #273142;
    font-size: 14px;
    height: 33px;
    text-decoration: none;
}

.dropmenu-item:hover, .dropmenu-item[data-selected] {
    background-color: #E5F5F8;
}

.dropmenu-item-add {
    composes: dropmenu-item;
    background-color: #259af2;
    color: white;
    justify-content: center;
}

.dropmenu-item-cancel {
    composes: dropmenu-item;
    color: #259af2;
    justify-content: center;
}

.dropmenu-item-cancel:hover, .dropmenu-item-cancel[data-selected] {
    background-color: initial;
}

.dropmenu-item-add:hover, .dropmenu-item-add[data-selected] {
    background-color: #259af2;
}

.dropButton {
    padding: 0 11px 0 0;
}

.budget-change-box {
    padding: 5px 12px;
    display: flex;
    justify-content: flex-end;
}

.left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    -webkit-box-pack: start;
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    -webkit-box-pack: end;
}

.budget-change-field {
    flex-grow: 1;
    flex-shrink: 0;
}

.forecast-button {
    margin-left: 15px;
    background: url(../../assets/graph.svg) center center no-repeat;
    background-size: 26px auto;
    width: 36px;
    height: 36px;
    box-shadow: inset 0 0 0 2px #2ea1f8;
    border-radius: 4px;
    cursor: pointer;
}