.wrap {
    position: relative;
    padding: 5px 25px;
}

.text {
    color: #141517;
    white-space: pre-line;
    max-width: 700px;
    line-height: 24px;
}

.snippet-box {
    background: #eef0f7;
    border: rgba(0,0,0,0.2) 2px solid;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
    margin: 12px 0 8px;
    width: 700px;
}

.snippet {
    display: block;
    overflow-x: auto;
    padding: 0 12px;
    color: rgb(0, 0, 0);
}

.copy-message {
    color: #26B10F;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    margin-top: 10px;
}

.add-event {
    display: grid;
    margin-top: 12px;
}

.row {
    display: inline-flex;
    margin-bottom: 10px;
}

.label {
    width: 120px;
    margin: 6px 10px 6px 0;
}

.code-wrap {
    display: flex;
}

.table-body :global(tr):nth-child(even) {
    background: #e4e7ee;
}

.table-body :global(tr):nth-child(odd) {
    background: white;
}

.head-row {
    text-align: center;
    font-weight: bold;
    background: #65b7f3;
    color: white;
}

.head-row :global(td) {
    border-left: 1px solid #f5f5f7;
    border-right: 1px solid #f5f5f7;
}