@import "../global/mixins.css";

.table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    padding: 0 20px;
}

.row-arrow {
    border: solid #4d91fc;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: 8px;
    left: 7px;
}

.row-arrow[data-headline] {
    border: solid white;
    border-width: 0 1px 1px 0;
}

.row-arrow-wrap {
    position: absolute;
    left: -11px;
    height: 19px;
    width: 19px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 1px #d9e7fa;
    cursor: pointer;
}

.row-arrow-wrap[data-collapsed='true'] {
    transform: rotate(-180deg);
}

.row-icon {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6px;
}

.channel-action-icon {
    composes: row-icon;
    cursor: pointer;
}

.title {
    display: -webkit-inline-box;
}

.row-arrow-wrap[data-headline] {
    border: none;
    background-color: #4d91fc;
}

.table-row {
    height: 64px;
    color: #707ea7;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
}

.table-row[data-row-type='category'] {
    background-color: rgba(222, 235, 255, 0.32);
    color: #222a41;
}

.table-row[data-row-type='bottom'] {
    background-color: #4d91fc;
    color: #ffffff;
}

.row-title {
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    width: 130px;
}

.title-text {
    width: 90px;
    color: #222a41;
}

.title-text[data-bottom-row] {
    color: white;
}

.head-row {
    composes: table-row;
    height: 48px;
    color: #99a4c2;
    text-transform: uppercase;
    font-size: 11px;
}

.title-cell {
    height: 14px;
    width: 200px;
}

.title-cell[data-category-row="true"] {
    border-bottom: 1px solid rgba(106, 154, 230, 0.19);
}

.channel-edit-icons {
    display: inline-flex;
    margin-left: 6px;
}

.category-cell {
    border-bottom: 1px solid rgba(106, 154, 230, 0.19);
}

@mixin icon-nodpi plan:editChannel, ../../assets/plan_icons/edit-grey;