.inner {
    background: white;
    position: relative;
    width: calc(100% - 40px);
    padding-top: 40px;
    padding-left: 40px;
    height: 514px;
    display: flex;
}

.menu {
    min-width: 196px;
    height: 100%;
}

.menu-title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 0.1px;
    color: #222a41;
    margin-bottom: 44px;
}

.colored-circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.menu-items {
    overflow-y: auto;
    height: 370px;
}

.menu-item {
    margin-bottom: 18px;
}

.chart {
    margin-top: 80px;
    margin-left: 40px;
    width: fit-content;
    overflow: scroll;
}

.custom-tooltip {
    padding: 14px;
    width: 126px;
    height: auto;
    background-color: #222a41;
    box-shadow: 0 4px 8px 0 rgba(153, 164, 194, 0.16);
    border-radius: 2px;
    position: relative;
    transform: translateY(-100%) translateX(-50%);
    margin-top: -13px;
}

.custom-tooltip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: solid 5px #222a41;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.custom-tooltip-indicator {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #99a4c2;
    margin-bottom: 8px;
}

.custom-tooltip-value {
    font-size: 12px;
    font-weight: 600;
    color: #84b3ff;
}

.custom-tooltip-objective {
    composes: custom-tooltip-indicator;
    text-align: left;
    margin-bottom: 12px;
}

.objective-dot {
    background: url(../../assets/objective-dot.svg) center center no-repeat;
    width: 23px;
    height: 23px;
    object-fit: contain;
}