.chat-bot {
    justify-content: center;
    display: flex
}

.content {
}

.inner {
}

.constraint-step {
    display: table;
}

.constraint-text {
    display: table-cell;
    vertical-align: middle;
}