.icon {
    width: 22px;
    height: 22px;

    background-size: 10px;
    background-color: gray;
    cursor: pointer;
}

.accept {
    /**margin-right: 5px;**/
    composes: icon;
    background: url(../../assets/success.svg) center center no-repeat;
    background-size: 14px;
}

.reject {
    composes: icon;
    background: url(../../assets/error.svg) center center no-repeat;
    background-size: 14px;
}

.edit {
    composes: icon;
    background: url(../../assets/edit.svg) center center no-repeat;
    background-size: 10px;
}

.hover {
    display: flex;
    justify-content: flex-start;
}

.budget {
    font-size: 12px;
}