.head {
  height: 85px;
  border-bottom: 1px solid #e7e9ed;
  display: flex;
  align-items: center;
  background: white;
}

.head-title {
  text-transform: uppercase;
  font-size: 40px;
  /*line-height: 36px;*/
  letter-spacing: -0.01em;
  overflow: hidden;
  font-weight: 600;
  color: #24b10e;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 167px;
  padding-left: 32px;
}

.head-tabs {
  margin-left: auto;
  flex-shrink: 0;
  flex-grow: 0;
  height: 85px;
  display: flex;
}

.head-plan {
  height: 100%;
 /** padding: 0 32px 0 30px;
  margin: 0 5px;**/
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.head-tab {
  height: 100%;
  padding: 0 16px 0 15px;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.head-tab:hover {
  background-color: #f2f9fc;
}

.head-tab-selected {
  composes: head-tab;
}

.head-tab-selected::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0e568b;
}

.pageInner {
  overflow: visible!important;
}

.content {
  margin: 0 !important;
  padding: 0 !important;
  background: #f6f7fb;
}

.title {
  height: 60px;
  display: flex;
  align-items: flex-end;
  padding: 0 31px;
}

.title-main {
  display: flex;
  align-items: flex-end;
}

.title-text {
  flex-grow: 0;
  flex-shrink: 0;
  color: #646973;
  font-size: 24px;
  line-height: 34px;
}

.title-price {
  color: #273142;
  font-size: 30px;
  font-weight: 600;
  padding-left: 41px;
  margin-right: auto;

  background: url(../../assets/plan_icons/arrow.svg) 12px 60% no-repeat;
  background-size: 17px auto;
}

.title-buttons {
  /*margin-left: auto;*/
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.inner-box {
  margin: 31px 0;
  /*padding: 0 31px;*/
  /*min-height: 300px;*/
}

@media (max-width: 830px) {
  .title {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .title-main {
    margin: 20px 0;
    display: block;
  }

  .title-text,
  .title-price {
    display: inline;
  }
}

@media (max-width: 1130px) {
  .head {
    flex-direction: column;
    height: auto;
  }

  .head-tabs {
    margin: 0;
  }

  .head-title {
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 780px) {
  .head-tabs {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 560px) {
  .head-tabs {
    height: 56px;
  }

  .head-title {
    margin: 10px 0;
  }
}

.error {
  padding-left: 15px;
  color: red;
  font-size: 13px;
  text-align: left;
}

.server-down {
  color: red;
  font-size: 20px;
}