.automatic-label {
    width: 76px;
    height: 26px;
    border-radius: 3px;
    background-color: #c9d8f2;
    color: #0082e6;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500
}

.channel-name {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin: 0 25px;
    padding: 0 6px;
    overflow-x: auto;
    position: relative;
}

.actualText {
    padding: 0 0 0 14px;
    box-sizing: border-box;
}

.expected {
    margin-left: 10px;
}

.cell-item {
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 100%;
}

.channels-select {
    flex-grow: 1;
    white-space: pre;
}

.channels-row {
    display: flex;
    margin-bottom: 16px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.bottom {
    margin: 40px 0;
}