@import "../global/mixins.css";

.value-cell {
    height: 14px;
}

.secondary-value {
    font-size: 10px;
    font-weight: 500;
    color: #b2bbd5;
}

.cell-item {
    align-items: center;
    display: flex;
}

.icon {
    width: 22px;
    height: 22px;

    background-size: 22px;
    background-color: white;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.accept-suggestion {
    composes: icon;
    background: url(../../assets/plan_icons/redo.svg) center center no-repeat;
}

.buttons {
    display: flex;
}

@mixin icon-nodpi plan:none, ../../assets/plan_icons/clear-state;
@mixin icon-nodpi plan:like, ../../assets/plan_icons/like;
@mixin icon-nodpi plan:lock, ../../assets/plan_icons/lock;