@import "../global/mixins.css";

.value-cell {
    height: 14px;
    width: 100px;
}

.secondary-value {
    font-size: 10px;
    font-weight: 500;
    color: #b2bbd5;
}

.cell-item {
    align-items: center;
    display: inline-flex;
}

.icon {
    width: 18.5px;
    height: 18.5px;
    background-size: 18.5px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.buttons {
    display: flex;
    margin-left: 3.5px;
}

.inner-buttons {
    display: flex;
}

.edit-cell {
    width: 74px;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #e6e8f0;
    border: solid 1px #e6e8f0;
    color: #4d91fc;;
    padding: 3px;
    font-size: inherit;
    font-weight: inherit;
    height: 32px;
}

@mixin icon-nodpi plan:none, ../../assets/plan_icons/clear-state;
@mixin icon-nodpi plan:like, ../../assets/plan_icons/like;
@mixin icon-nodpi plan:lock, ../../assets/plan_icons/lock;
@mixin icon-nodpi plan:acceptSuggestion , ../../assets/plan_icons/redo;
@mixin icon-nodpi plan:edit , ../../assets/plan_icons/edit-per-cell;
@mixin icon-nodpi plan:approveEdit , ../../assets/plan_icons/accept;
@mixin icon-nodpi plan:declineEdit , ../../assets/plan_icons/decline;