.help-wrap {
    position: relative;
}

.validation-error {
    background: url(../../assets/attention.svg) center center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.ig-grid-row {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
