.box {

}

.inner {
    display: flex;
    align-items: center;
}

.help-wrap {
    position: relative;
}

.validation-error {
    background: url(../../assets/attention.svg) center center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}