@import "../global/mixins.css";

.button {
  width: 74px;
  height: 74px;
  border: 1px solid #ced0da;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  background: linear-gradient(to bottom, #ffffff 0%, #f1f3f7 100%);
  flex-direction: column;
}

.selected-button {
  composes: button;

  border: 2px solid #5893be;
  background: linear-gradient(to bottom, #ffffff 0%, #dfe3e7 100%);
}

.icon {
  margin: 8px 18px 0;
  width: 38px;
  height: 38px;
  background: none center center no-repeat;
  background-size: contain;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: #354052;
  text-align: center;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
}

@mixin icon buttons:b2c, ../../assets/button-icons/b2c-icon;
@mixin icon buttons:b2b, ../../assets/button-icons/b2b-icon;
@mixin icon buttons:product, ../../assets/button-icons/product-icon;
@mixin icon buttons:service, ../../assets/button-icons/service-icon;
@mixin icon buttons:intro, ../../assets/button-icons/intro-icon;
@mixin icon buttons:growth, ../../assets/button-icons/growth-icon;
@mixin icon buttons:mature, ../../assets/button-icons/mature-icon;
@mixin icon buttons:decline, ../../assets/button-icons/decline-icon;
@mixin icon buttons:worldwide, ../../assets/button-icons/worldwide-icon;
@mixin icon buttons:national, ../../assets/button-icons/national-icon;
@mixin icon buttons:local, ../../assets/button-icons/local-icon;
@mixin icon buttons:purchase, ../../assets/button-icons/purchase-icon;
@mixin icon buttons:SaaS, ../../assets/button-icons/subscription-icon;
@mixin icon-nodpi buttons:desktop, ../../assets/button-icons/desktop;
@mixin icon-nodpi buttons:freemium, ../../assets/button-icons/freemium;
@mixin icon-nodpi buttons:marketplace, ../../assets/button-icons/marketplace;
@mixin icon-nodpi buttons:martech, ../../assets/button-icons/martech;
@mixin icon-nodpi buttons:mobile, ../../assets/button-icons/mobile;
@mixin icon-nodpi buttons:on-demand, ../../assets/button-icons/on-demand;
@mixin icon-nodpi buttons:sales, ../../assets/button-icons/sales;
@mixin icon-nodpi buttons:web, ../../assets/button-icons/web;
@mixin icon-nodpi buttons:IT, ../../assets/button-icons/IT;
@mixin icon-nodpi buttons:analytics_BI, ../../assets/button-icons/analytics_BI;
@mixin icon-nodpi buttons:any, ../../assets/button-icons/batman;
@mixin icon-nodpi buttons:any2, ../../assets/button-icons/confused-face;
@mixin icon-nodpi buttons:security, ../../assets/button-icons/security;
@mixin icon-nodpi buttons:productivity, ../../assets/button-icons/productivity;
@mixin icon-nodpi buttons:bizdev, ../../assets/button-icons/BizDev;
@mixin icon-nodpi buttons:design, ../../assets/button-icons/design;
@mixin icon-nodpi buttons:finance2, ../../assets/button-icons/Finance;
@mixin icon-nodpi buttons:general, ../../assets/button-icons/General;
@mixin icon-nodpi buttons:hr, ../../assets/button-icons/HR;
@mixin icon-nodpi buttons:marketing, ../../assets/button-icons/Marketing;
@mixin icon-nodpi buttons:rd, ../../assets/button-icons/RD;
@mixin icon-nodpi buttons:sales-role, ../../assets/button-icons/sales2;
@mixin icon-nodpi buttons:cxo, ../../assets/button-icons/CXO;
@mixin icon-nodpi buttons:employee, ../../assets/button-icons/Employee;
@mixin icon-nodpi buttons:manager, ../../assets/button-icons/Manager;
@mixin icon-nodpi buttons:male, ../../assets/button-icons/male;
@mixin icon-nodpi buttons:female, ../../assets/button-icons/female;
@mixin icon-nodpi buttons:both, ../../assets/button-icons/both;

@mixin icon-nodpi buttons:retailer, ../../assets/button-icons/retailer;
@mixin icon-nodpi buttons:professional, ../../assets/button-icons/Professional;
@mixin icon-nodpi buttons:foodAndBeverage, ../../assets/button-icons/FoodAndBeverage;
@mixin icon-nodpi buttons:entertaiment, ../../assets/button-icons/Entertaiment;
@mixin icon-nodpi buttons:ecommerce, ../../assets/button-icons/Ecommerce;
@mixin icon-nodpi buttons:cpg, ../../assets/button-icons/CPG;
@mixin icon-nodpi buttons:b2cSoftware, ../../assets/button-icons/b2cSoftware;
@mixin icon-nodpi buttons:b2bSoftware, ../../assets/button-icons/b2bSoftware;
@mixin icon-nodpi buttons:finance, ../../assets/button-icons/dollar-symbol;
@mixin icon-nodpi buttons:healthcare, ../../assets/button-icons/first-aid-kit;
@mixin icon-nodpi buttons:light, ../../assets/button-icons/light;
@mixin icon-nodpi buttons:caution, ../../assets/button-icons/caution;
@mixin icon-nodpi buttons:moderate, ../../assets/button-icons/moderate;
@mixin icon-nodpi buttons:aggressive, ../../assets/button-icons/aggressive;
@mixin icon-nodpi buttons:optimistic, ../../assets/button-icons/optimistic;
